/*////////////////////////////////////////////////////////////////////////////////////////////////////
//                                                                                                  //
//                                                                                                  //
//                                           GLOBAL STYLES                                          //
//                                                                                                  //
//                                                                                                  //
////////////////////////////////////////////////////////////////////////////////////////////////////*/

body {
    position: relative;
    font-family: 'Questrial', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.btn {
    margin: 0 auto;
    height: 2.5rem;
    border: 1px solid #ececec;
    outline: 0px;
    background-color: #f4f3f3;
    color: #777879;
    cursor: pointer;
    font-family: Questrial;
    text-decoration: none;
    padding: .5rem .75rem;
}

.btn:hover {
    background-color: #7998a6;
    color: #fff;
    border: 1px solid #7998a6;
}

.active {
    color: #fff;
    background-color: #7998a6;
}

.active i {
    color: #fff;
}

button {
    border: 0;
}

.left-panel {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%;
    height: 100vh;
    margin-right: 312px;
    -webkit-transition: margin .75s ease;
    transition: margin .75s ease;
}

.right-panel {
    position: fixed;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    background-color: #f4f4f4;
    height: 100vh;
    width: 312px;
    -webkit-transition: margin .75s ease;
    transition: margin .75s ease;
    border-left: 1px solid #ececec;
}

.right-panel {
    margin-right: -312px;
}

.right-panel.menu-open {
    margin-right: 0;
}

.left-panel {
    margin-right: 0;
}

.left-panel.menu-open {
    margin-right: 312px;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////
//                                                                                                  //
//                                                                                                  //
//                                      Left Hand Panel                                             //
//                                                                                                  //
//                                                                                                  //
////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*//////////////////////////////  video-panel //////////////////////////////////////////////////////*/

.video-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 60vh;
    overflow: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: height .5s ease;
    transition: height .5s ease;
    border-bottom: 1px solid #ececec;
}

.welcome {
    width: 100%;
    color: #777879;
    text-align: center;
}

.lg2 {
    display: none;
}

@media screen and (max-width: 767px) {
    .lg1 {
        display: none;
    }
    .lg2 {
        display: block;
        border: 1px solid #ff3232;
        border-radius: 5px;
        margin: 1.5rem;
        background-color: pink;
        color: #ff3232;
    }
}

.logo {
    font-family: 'Audiowide', cursive;
    font-size: 4rem;
}

.play-list-container, .video-container {
    width: 320px;
    min-height: 240px;
    margin: .75rem;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.thumbnail, .playlist-title {
    cursor: pointer;
}

.playlist-title, .video-title {
    color: #777879;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.playlist-title p, .video-title p {
    margin: 0;
}

.video-num {
    width: 3rem;
}


/*//////////////////////////////  editor-panel //////////////////////////////////////////////////////*/

.editor-panel {
    position: relative;
    height: 50vh;
    overflow: hidden;
    -webkit-transition: height .5s ease;
    transition: height .5s ease;
}

@media screen and (max-width: 767px) {
    #repl {
        display: none;
    }
    .editor-panel {
        height: 0;
    }
}

#repl {
    position: relative;
    width: 100%;
    /*height: calc(100% + 30px);*/
    height: calc(100% + 91px);
    top: -61px;
}

.note-detail-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity .75s;
    transition: opacity .75s;
    z-index: -1;
}

.note-detail-panel.show {
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity .75s;
    transition: opacity .75s;
}


/*/////////////////////Video/editor panel resizing///////////////*/

.video-panel.large {
    height: 75vh;
}

.video-panel.small {
    height: 40vh;
}

.editor-panel.large {
    height: 60vh;
}

.editor-panel.small {
    height: 25vh;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////
//                                                                                                  //
//                                                                                                  //
//                                           Right Hand Panel                                       //
//                                                                                                  //
//                                                                                                  //
////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*//////////////////////////////  Channel list //////////////////////////////////////////////////////*/

#channels ul {
    padding: 0;
    margin: 0;
}

#channels {
    overflow: auto;
    height: 45vh;
    width: 312px;
}

.li-channel {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.li-channel p {
    padding-right: 1rem;
}

.list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    border-bottom: 1px solid #ececec;
    color: #777879;
    cursor: pointer;
}

.list-item:hover {
    background-color: #7998a6;
    color: #fff;
}

.channel-title {
    -webkit-box-flex: 1;
    -ms-flex: 1 auto;
    flex: 1 auto;
}

.channel-logo {
    margin-left: auto;
    margin-bottom: -4px;
}

.channel-logo img {
    height: 50px;
    width: 46px;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ececec;
    border-radius: 10%;
}

::-webkit-scrollbar-thumb {
    background-color: #7998a6;
    outline: 1px solid #7998a6;
}


/*//////////////////////////////  Control Panel //////////////////////////////////////////////////////*/

.controls {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #f4f3f3;
    border-top: 1px solid #cecece;
}

.playlist-controls {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #cecece;
}

.search-youtube {
    margin: 0.25rem;
    border: 1px solid #f4f3f3;
    width: 100%;
}

.resize-title {
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    color: #777879;
}

.resize {
    height: 3.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex: 1 1 30%;
    width: auto;
    color: #777879;
    cursor: pointer;
}

.resize:hover {
    background-color: #7998a6;
    color: #fff;
}


/*//////////////////////////////  NOTEPAD /////////////////////////////////////////////////////////////////*/

.saved-notes-panel {
    position: absolute;
    height: 100%;
    width: 311px;
    overflow: auto;
    bottom: 0;
    right: -320px;
    -webkit-transition: right .75s ease;
    transition: right .75s ease;
    background-color: #fff;
    color: #777879;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-left: 1px solid #cecece;
    z-index: 10;
}

.saved-notes-panel.notes-open {
    right: 0;
}

.notes-list {
    padding: 0;
}

.saved-notes-list {
    padding: .5rem;
    margin: 0;
    list-style: none;
}

.saved-notes-list-item {
    width: 253px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #ececec;
    outline: 0px;
    background-color: #f4f3f3;
    color: #777879;
    margin: .5rem;
    padding: .5rem;
}

.saved-notes-list-item p {
    margin: 0;
    padding: .5rem;
}

.saved-notes-list-item:hover {
    border: 1px solid #7998a6;
}

.saved-note {
    background-color: #fff;
    width: 100%;
    padding: .25rem;
    border: 1px solid #ececec;
    max-height: 15rem;
    overflow: auto;
    word-wrap: break-word;
}

.close-notes {
    margin: .5rem;
}

.notepad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #f4f4f4;
    border: 1px solid #ececec;
    margin: .5rem;
    height: 35vh;
}

.notepad-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 3rem
}

.note-title {
    padding: .25rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%
}

.date {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    padding: .25rem;
    text-align: right;
}

.edit-note {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    padding: .25rem;
    text-align: left;
}

.note {
    padding-left: .5rem;
    padding-top: .5rem;
    height: 100%;
    resize: none;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    background-color: #fff;
    border: 1px solid #ececec;
    margin-top: .25rem;
}

.notepad-input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border: 1px solid #fff;
    /*margin: .25rem;*/
}

.notepad-btn {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

#menu-handle {
    /*display: none;*/
    position: absolute;
    left: -60px;
    top: 25px;
    color: #7998a6;
    padding: .75rem;
    cursor: pointer;
    transition: left .75s ease;
    transition: top .75s ease;
}

@media screen and (max-width: 1024px) {
    #menu-handle {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    #menu-handle.menu-open {
        left: 10px;
        top: -1px;
    }
}


/*//////////////////////////////  NOTEPAD - EDITOR PANEL /////////////////////////////////////////////////////////////////*/

.edit-note-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #f4f3f3;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .video-panel {
        height: 100vh;
    }
    .video-panel.edit-note-open {
        height: 40vh;
    }
    .editor-panel.edit-note-open {
        height: 60vh;
    }
    .note-detail-panel {
        height: 0vh;
    }
    .note-detail-panel.edit-note-open {
        height: 60vh;
    }
}

.edit-note-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .5rem;
    color: #777879;
}

.edit-note-header-item {
    text-align: center;
    padding: 0.25rem;
}

.edit-note-title {
    margin: 0;
}

#edit-note-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    padding: .25rem;
    border: 1px solid #ececec;
}

.btn2:hover {
    background-color: #7998a6;
    color: #fff;
    border: 1px solid #7998a6;
}

.edit-note-text {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 75%;
    flex: 1 1 75%;
    resize: none;
    padding: 1rem;
    overflow: auto;
    background-color: #fff;
    margin: .5rem;
}


/*/////////////////////////////Signature/////////////////////////////////////////////////////////////////////*/

.bottom-container {
    list-style: none;
    padding: .5rem;
    margin: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.bottom-nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.bottom-nav a, .bottom-nav i {
    text-decoration: none;
    color: #777879;
}

.bottom-nav a:hover, .bottom-nav i:hover {
    color: #7998a6;
    cursor: pointer;
}


/*Taken from internet for quick solution*/


/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
}


/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    border: 1px solid #7998a6;
    background-color: #ececec;
    color: #777879;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    padding: .5rem;
    width: 250px;
    left: -135px;
    margin-right: 150px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Fade in tooltip */
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}


/* Tooltip arrow */

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 119px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #7998a6 transparent transparent transparent;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
