body {
    position: relative;
    font-family: 'Questrial', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

.top-row {
    width: 100%;
}

.bottom-row {
    width: 100%;
}

.left-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 100%;
}

.right-panel {
    position: relative;
    display: flex;
    flex-flow: column;
    background-color: #f4f4f4;
    transition: margin .75s ease;
}

@media screen and (max-width: 1024px) {
    .right-panel {
        margin-right: -312px;
    }
}

#channels ul {
    padding: 0;
    margin: 0;
}

#channels {
    overflow: auto;
}

#channels li:hover {
    background-color: #fff;
}

.li-channel {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.li-channel p {
    padding-right: 1rem;
}

.list-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #777879;
    color: #777879;
}

.channel-title {
    flex: 1 auto;
}

.channel-logo {
    margin-left: auto;
    margin-bottom: -4px;
}

.channel-logo img {
    height: 50px;
    width: 46px;
}

.video-panel {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    height: 60vh;
    overflow: auto;
    justify-content: center;
    align-items: center;
    transition: height .5s ease;
}

.fa-arrow-up {
    transform: rotate(120deg);
}

.welcome {
    width: 100%;
    color: #777879;
    text-align: center;
}

.editor-panel {
    height: 50vh;
    overflow: hidden;
    transition: height .5s ease;
}

#repl {
    position: relative;
    width: 100%;
    /*height: calc(100% + 30px);*/
    height: calc(100% + 91px);
    top: -61px;
}

.logo {
    font-family: 'Audiowide', cursive;
    font-size: 4rem;
}

.last-vid {
    margin: 0 auto;
    height: 2.5rem;
    border: 1px solid #ececec;
    outline: 0px;
    background-color: #f4f3f3;
    color: #777879;
    cursor: pointer;
    font-family: Questrial;
    text-decoration: none;
    padding: .5rem .75rem;
}

.last-vid:hover {
    background-color: #7998a6;
    color: #fff;
    border: 1px solid #7998a6;
}


/*Right hand panel re-sizing*/

.video-panel.large {
    height: 75vh;
}

.editor-panel.large {
    height: 60vh;
}

.video-panel.small {
    height: 40vh;
}

.editor-panel.small {
    height: 25vh;
}

.play-list-container, .video-container {
    width: 320px;
    height: 240px;
    margin: .75rem;
    background-color: #0e1628;
}

.playlist-title, .video-title {
    color: #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.middle-row-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.resize {
    height: 3.75rem;
    display: flex;
    align-items: center;
}

.button {
    background-color: #f4f3f3;
    color: #777879;
}

.button i {
    padding: .65rem;
}

.button:hover {
    color: #fff;
    background-color: #7998a6;
}

.active {
    color: #fff;
    background-color: #7998a6;
}


/*.notepad {
    border-top: 1px dashed #0e1628;
}*/
